<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MegaBites</title>
    <link rel="stylesheet" href="public/scss/main.css">
    <!-- <script src="https://kit.fontawesome.com/12c18de3e7.js" crossorigin="anonymous"></script> -->
    <link href="your-project-dir/font-css/LineIcons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.lineicons.com/2.0/LineIcons.css">
</head>

<body>
    <div class="hide-on-large">
        <!-- <%- include('partials/headerMobile'); -%> -->
        <nav class="menu-nav">
            <div class="menu-header">
                <h2 class="text-primary">Mega<span class="text-secondary">Bites</span></h2>
            </div>
            <div class="menu-btn">
                <div class="btn-line"></div>
                <div class="btn-line"></div>
                <div class="btn-line"></div>
            </div>
        </nav>
        <div id="mobile-menu">
            <ul class="nav-links">
                <li class="nav-item">
                    <a href="index.html" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="menu.html" class="nav-link">Menu</a>
                </li>
                <li class="nav-item">
                    <a href="reservation.html" class="nav-link">Reservation</a>
                </li>
                <li class="nav-item">
                    <a href="contact.html" class="nav-link">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a href="about.html" class="nav-link">About</a>
                </li>
                <!-- <% if(user) { %>
                    <li class="nav-item">
                        <a href="/logout" class="nav-link btn">Log out</a>
                    </li>
                    <% } else { %> -->
                <li class="nav-item">
                    <a href="signup.html" class="nav-link btn">Sign Up</a>
                </li>
                <!-- <% } %> -->
            </ul>
        </div>
    </div>

    <main id="home">
        <div class="hide-on-large">
            <!-- <%- include('partials/headerMobile2'); -%> -->
            <div class="ext-menu">
                <div class="menu-delivery">
                    <img src="public/images/menus/icons/049-delivery truck.png" alt="" srcset="">
                    <div class="menu-delivery-txt">
                        <h3>For delivery</h3>
                        <h5>Call: +256 776 900 332</h5>
                    </div>
                </div>
                <ul class="menu-icons mobile hide-on-large">
                    <li class="profile mobile">
                        <a class="nav-link user-profile-btn"><i class="lni lni-user"></i></a>
                    </li>
                    <li class="favorites">
                        <a href="#" class="nav-link">
                            <p class="likes-size"></p><i class="lni lni-heart"></i></a>
                    </li>
                    <li class="icon-cart hide-on-large">
                        <a href="cart" class="nav-link hide-on-large">
                            <p class="cart-size"></p><i class="lni lni-cart"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="user-profile mobile hide-on-large">
                <div class="user-profile-hdr">
                    <i class="lni lni-close" id="close-user-profile"></i>
                </div>
                <div class="user-profile-menu">
                    <a id="username"></a>
                    <div class="wr">
                        <p class="username" hidden>
                            <!-- <%= user.name %> -->
                            John Doe
                        </p>
                        <p class="email">
                            <!-- <%= user.email %> -->
                            johndoe@gmail.com
                        </p>
                        <a href="index.html" class="btn">Edit Profile</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-wrapper">
            <div class="hide-on-small">
                <!-- <%- include('partials/headerNav'); -%> -->
                <header>
                    <div class="menu-nav-contacts">
                        <div class="menu-delivery">
                            <img src="public/images/menus/icons/049-delivery truck.png" alt="" srcset="">
                            <div class="menu-delivery-txt">
                                <h3>For delivery</h3>
                                <h5>Call: +256 776 900 332</h5>
                            </div>
                        </div>
                    </div>
                    <div class="menu-nav">
                        <ul class="nav-link">
                            <li class="nav-items current">
                                <a href="index.html" class="nav-link">Home</a>
                            </li>
                            <li class="nav-items">
                                <a href="menu.html" class="nav-link">Menu</a>
                            </li>
                            <li class="nav-items">
                                <a href="reservation.html" class="nav-link">Reservation</a>
                            </li>
                            <li class="nav-items">
                                <a href="contact.html" class="nav-link">Contact Us</a>
                            </li>
                            <li class="nav-items">
                                <a href="about.html" class="nav-link">About</a>
                            </li>
                            <!-- <% if(user) { %>
                                <li class="nav-items">
                                    <a href="/logout" class="nav-link btn">Log Out</a>
                                </li>
                                <% } else { %> -->
                            <li class="nav-items">
                                <a href="signup.html" class="nav-link btn">Sign Up</a>
                            </li>
                            <!-- <% } %> -->
                        </ul>
                    </div>
                    <div class="menu-icons">
                        <ul>
                            <!-- <% if(user) { %> -->
                            <li class="profile">
                                <a class="nav-link user-profile-btn"><i class="lni lni-user"></i></a>
                            </li>
                            <li class="favorites">
                                <a href="#" class="nav-link">
                                    <p class="likes-size"></p><i class="lni lni-heart"></i></a>
                            </li>
                            <li class="icon-cart">
                                <a href="cart.html" class="nav-link">
                                    <p class="cart-size"></p><i class="lni lni-cart"></i>
                                </a>
                            </li>
                            <!-- <% } else { %>
                                    <li class="favorites">
                                        <a href="#" class="nav-link">
                                            <p class="likes-size"></p><i class="lni lni-heart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="nav-link"><i class="lni lni-cart"></i></a>
                                    </li>
                                    <% } %> -->
                        </ul>

                        <!-- <% if(user) {} %> -->
                        <div class="user-profile">
                            <div class="user-profile-hdr">
                                <i class="lni lni-close" id="close-user-profile"></i>
                            </div>
                            <div class="user-profile-menu">
                                <a id="username"></a>
                                <div class="wr">
                                    <p class="username" hidden>
                                        <!-- <%= user.name %> -->
                                        John Doe
                                    </p>
                                    <p class="email">
                                        <!-- <%= user.email %> -->
                                        johndoe@gmail.com
                                    </p>
                                    <a href="index.html" class="btn">Edit Profile</a>
                                </div>
                            </div>
                        </div>
                        <!-- <% {} %> -->
                    </div>
                </header>
            </div>

            <div class="d2 hide-on-small">
                <div class="logo hide-on-small">
                    <img src="public/images/chef.png" alt="" class="hide-on-small">
                    <h1 class="text-primary hide-on-small">Mega
                        <h2 class="text-secondary hide-on-small">Bites</h2>
                    </h1>
                </div>
            </div>

            <!-- ----------------- main content --------------------------------------------------------------------------------- -->
            <h4 class="text-primary hide-on-small">Tasty treats on the go</h4>
            <div class="home-header">
                <div class="header-text">
                    <h2>Who are we ?</h2>
                    <p>Mega bites is a 5 Star bar and restaurant located in the heart of the bustling city. We offer a wide range of local and international cuisines. With ample parking space and a beautiful scenery over looking city square, we offer world
                        class service
                    </p>
                    <ul class="services">
                        <li class="service">Open 24/7</li>
                        <li class="service">Wellstorked bar</li>
                        <li class="service">Ample parking</li>
                        <li class="service">Reservation</li>
                        <li class="service">24Hrs Customer service</li>
                    </ul>
                    <a href="reservation.html" class="btn-getstarted btn">Make reservation</a>
                </div>
            </div>

            <div class="services di">
                <div class="services-wrapper gr gr-3">
                    <div class="service">
                        <div class="service-img">
                            <img src="public/images/fast delivery service.svg" alt="" srcset="">
                        </div>
                        <div class="service-txt">
                            <h3>Fast food delivery</h3>
                            <p>We will get you your food fast, on time with no delays.</p>
                        </div>
                    </div>
                    <div class="service">
                        <div class="service-img">
                            <img src="public/images/customerCare_1.png" alt="" srcset="">
                        </div>
                        <div class="service-txt">
                            <h3>Customer TLC</h3>
                            <p>Our customers are our major priority, thats why we have a dedicated customer care team</p>
                        </div>
                    </div>
                    <div class="service">
                        <div class="service-img">
                            <img src="public/images/order.png" alt="" srcset="">
                        </div>
                        <div class="service-txt">
                            <h3>Easy Online Order</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum.</p>
                        </div>
                    </div>
                </div>

                <!-- ---------------------- div for ads ---------------------------------------------------------------------------- -->
                <div class="di ad-box">
                    <div class="order-ad" hidden>
                        <div class="order-txt" id="modal">
                            <!-- <img src="public/images/order_btn.png" alt="" srcset=""> -->
                            <h3>Place your order now</h3>
                            <a href="menu.html" class="btn">Order Now</a>
                        </div>
                    </div>
                    <div class="app-ad">
                        <div class="app-img">
                            <div class="app">
                                <div class="app-display">
                                    <img src="public/images/chef.png" alt="" srcset="">
                                    <h3>MegaBites</h3>
                                </div>
                                <div class="app-menu">
                                    <i class="lni lni-line-double"></i>
                                    <i class="lni lni-home"></i>
                                    <i class="lni lni-chevron-right"></i>
                                </div>
                            </div>
                        </div>
                        <div class="app-txt">
                            <h3>Get our app today</h3>
                            <h4>Download from apple store and play store</h4>
                            <div class="app-store">
                                <div class="play-store store">
                                    <span>
                                        <i class="lni lni-android-original"></i>
                                        <p>google play</p>
                                    </span>
                                </div>
                                <div class="apple-store store">
                                    <span>
                                        <i class="lni lni-apple"></i>
                                        <p>apple store</p>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="home-testimony">
                <h3>What our guests say</h3>
                <div class="testimony">
                    <div class="testimony-box">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus consequuntur dicta accusantium et a, libero rem</p>
                        <h3>~ John Doe</h3>
                    </div>
                    <div class="testimony-box">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus consequuntur dicta accusantium et a, libero rem</p>
                        <h3>~ John Doe</h3>
                    </div>
                    <div class="testimony-box">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus consequuntur dicta accusantium et a, libero rem</p>
                        <h3>~ John Doe</h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- <%- include('partials/footer'); -%> -->
        <footer id="footer">
            <div class="footer-body">
                <div class="home-locate">
                    <h3>Find Us At</h3>
                    <p>10th Street, Motion Avenue. Opposite Post Office</p>
                    <h3>Open Hours</h3>
                    <p>6 AM - 2 AM(MON - FRI)</p>
                    <p>7 AM - 12 AM(SAT & SUN)</p>
                    <h3>Follow us on</h3>
                    <div class="icons">
                        <a href="" class="social-link">
                            <i class="fab fa-facebook fa-2x"></i>
                        </a>
                        <a href="" class="social-link">
                            <i class="fab fa-twitter fa-2x"></i>
                        </a>
                        <a href="" class="social-link">
                            <i class="fab fa-instagram fa-2x"></i>
                        </a>
                        <a href="" class="social-link">
                            <i class="fab fa-github fa-2x"></i>
                        </a>
                    </div>
                </div>
                <div class="home-contact">
                    <h3>Contact Us</h3>
                    <p>(+256) 786 890105</p>
                    <p>(+033) 088 899005</p>
                    <p>info@megabites.com</p>
                    <p>reservation@megabites.com</p>
                </div>
                <div class="home-navlinks">
                    <h3>Page Links</h3>
                    <a href="index.html" class="current">Home</a>
                    <a href="menu.html">Menu</a>
                    <a href="reservation.html">Reservation</a>
                    <a href="contact.html">Contact</a>
                    <a href="about.html">About</a>
                </div>
                <div class="home-comment">
                    <h3>Leave a comment</h3>
                    <form class="comment">
                        <div class="input">
                            <label for="fullname">Full name</label>
                            <input type="text" id="fullname" name="commentName" placeholder="eg. John Doe">
                            <div class="error name-error"></div>
                        </div>
                        <div class="input">
                            <label for="comment">Your comment</label>
                            <textarea name="comment" id="" cols="30" rows="5" placeholder="Your comment ..."></textarea>
                            <div class="error comment-error"></div>
                        </div>
                        <input type="submit" value="submit" class="btn">
                    </form>
                </div>
            </div>
            <div class="footer-copyright">
                All Rights Reserved Copyright &copy; 2020 Designed By| <span class="text-secondary">Nova</span>
            </div>
        </footer>
    </main>

    <!-- <%- include('partials/footerNav'); -%> -->

    <script src="public/js/main.js"></script>
    <script src="public/js/order.js"></script>
</body>

</html>